<?xml version="1.0"?>
<configuration>
 
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICatchException" />
                <binding name="BasicHttpBinding_ICatchException1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60559/CatchException.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatchException"
                contract="CatchException.Service.ICatchException" name="BasicHttpBinding_ICatchException" />
            <endpoint address="http://localhost:60559/CatchException.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatchException1"
                contract="CatchException.Service.ICatchException" name="BasicHttpBinding_ICatchException1" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
