<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICatchException" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2010/CatchException.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatchException"
                contract="WebCatchException.ICatchException" name="BasicHttpBinding_ICatchException" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
