<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICatchException" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60559/CatchException.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatchException"
                contract="CatchException.Service.ICatchException" name="BasicHttpBinding_ICatchException" />
        </client>
    </system.serviceModel>
</configuration>